<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Upload your file</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>
    {% if filename %}
    <h2>You can get result as:</h2>
    <div class="buttons">
        <a href="{{ url_for('dfg2', filename=filename) }}">
            <button>DFG</button>
        </a>
        <a href="{{ url_for('petri_net', filename=filename) }}">
            <button>Petri Net</button>
        </a>
        <a href="{{ url_for('bpmn', filename=filename) }}">
            <button>BPMN</button>
        </a>
    </div>
    {% endif %}
    {% if plot_url %}

    <h2>Event Frequencies:</h2>
    <div class="chart">
        <img src="data:image/png;base64,{{ plot_url }}" alt="Event Frequencies Chart">
    </div>
    <div>
        <ul>
            {% for event, count in data.items() %}
            <li>{{ event }}: {{ count }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
</body>
</html>
